#wholeThing {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color:red;
    background-color: black;
}

#header {
	background-color:red;
	color: black;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: "Carrois Gothic SC", sans-serif;
}


#topImageL {
	width: 15%;
	float: left;
	margin-left: 20px;
}

#topImageR {
	width: 15%;
	float: right;
	margin-right: 20px;
}

label {
	font-size: 18px;
}

#wwe {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#wweSearch {
	margin: 0 auto;
	text-align: center;
	font-family: "Carrois Gothic SC", sans-serif;
}

#gifArea {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}

.wweGiphy {
	padding: 2px;
	width: 80%;
}